[submodule "ml-depth-pro"]
	path = ml-depth-pro
	url = https://github.com/apple/ml-depth-pro.git
[submodule "sam2"]
	path = sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "flymethrough-webdemo"]
	path = flymethrough-webdemo
	url = https://github.com/XiaSu0919/flymethrough-webdemo.git
[submodule "flymethrough-annotator"]
	path = flymethrough-annotator
	url = https://github.com/makeabilitylab/flymethrough-annotator.git
